button{
    margin: auto;

}
.ma{
    margin: auto;
}

body{
    background-color: rgb(186, 186, 200) !important;
}

.warning{
    color: red;
    font-weight: bold;
}
p{
    text-align: justify;
}
.center,.center element{
    margin: auto;
    width: 80%;
}
#card,#card_button,#card_flipped{
    background-color: #198754;
    text-align: center;
    margin: auto;
    font-size: 5rem;
}
#card_sz{
    padding: 7px;
}

nav,footer{
    background-color: rgba(48,83,158, 0.7);
    height: 4.5rem;
}
footer {
    display: block;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
body>div.container{
    padding-bottom:6rem;
    padding-left: 10px;
    padding-right: 10px;
}
footer>p{
    text-align: center;
}
button>a{
    text-decoration: none;
    color: white;
}
